.avatar-img {
    width: 30px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    height: 30px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    border-radius: 50%;
    /* Membuat gambar menjadi lingkaran */
    margin-right: 5px;
    /* Memberi jarak dengan teks nama pengguna */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.377);
    /* Warna latar belakang gelap dengan transparansi 50% */
    color: #fff;
    /* Warna teks putih */
    padding: 10px;
    /* Ruang di sekitar teks dalam carousel caption */
    border-radius: 10px;
}